<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active"><div *ngIf="isAuth" style="margin-top: 15px;"><a routerLink="admin"><button >Page admin</button></a></div></li>
            <li routerLinkActive="active"><a routerLink="infos-user"><mat-icon>account_circle</mat-icon></a></li>
            <li>
                <a (click)="onSignOut()" style = "cursor:pointer">Déconnexion</a>
            </li>
           
        </ul>
    </div>
</nav>


<mat-tab-group>
    <mat-tab label="Tableau de bord">
        <ng-template matTabContent>
            <app-dashboard></app-dashboard>
        </ng-template>
    </mat-tab>
    <mat-tab label="Projets">
        <ng-template matTabContent>
            <app-project-board></app-project-board>
        </ng-template>
    </mat-tab>
    <mat-tab label="Clients">
        <ng-template matTabContent>
            <app-list-clients></app-list-clients>
        </ng-template>
    </mat-tab>
</mat-tab-group>





  <router-outlet></router-outlet>









