th{
    background-color: black;
    height: 50px;
    font-size: 17px;
    color: white;
}

button#btn-cts{
    position: relative;
    bottom:7px;
    height:35px;
}

div.en-tete{
    button{
        margin: 4px;
    }
    input{
        margin-left: 10px;
        width: 500px;
    }

    margin-top: 10px;
    margin-bottom: 10px;
}