div.bc {
    label{
        
        width: 80px;
    }
    input{
        width: 300px;
        
    }
    
  margin:auto;
  height: 50px;
  display: flex;
  align-items: center;
}


div#cts{
    button#btn-danger{
        position: relative;
        bottom: 123px; left: 400px;    
    }
    
    margin: auto;
    width: 400px;
    
}
.control-label:after {
    content:"*";
    color:red;
  }


div.my-btns{

    button{
        position: relative;
        margin-right: 5px;
        left: 80px;
    }
    
    margin: auto;
    width: 250px;
    
}



